
.que.aitext textarea.qtype_aitext_response {
    width: 100%;
}

.que.aitext textarea.qtype_aitext_response.qtype_aitext_plain {
    white-space: pre-wrap;
    font: inherit;
}

.que.aitext .qtext {
    color:inherit;;
}
.que.aitext .formulation .answer {
    font-size:12pt;
}
.que.aitext .answer {
    color:inherit;
}

.que.aitext textarea.qtype_aitext_response.qtype_aitext_monospaced {
    white-space: pre;
    font-family: Andale Mono, Monaco, Courier New, DejaVu Sans Mono, monospace;
}

.que.aitext .qtype_aitext_response {
    min-height: 3em;
}

.que.aitext .qtype_aitext_response.readonly {
    background-color: white;
}

.que.aitext div.qtype_aitext_response textarea {
    width: 100%;
}

.que.aitext .ablock .filemanager .fp-restrictions {
    margin-top: 1em;
}
.qtype_aitext_sampleanswereval {
    font-size: 12pt;
    margin: 3px;
    padding: 3px;
    width: 100%;
    max-width: 800px;
    background-color: #DDDDDD;
}

/*TT Recorder Styles */
.qtype_aitext_therec_waveButtonContainer {
    position: relative;
    margin: auto;
    border: 2px solid darkgray;
    border-radius: 10px;
    width: 200px;
}

.qtype_aitext_therec_waveForm {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    border-radius: 10px;
}

.qtype_aitext_therec_waveButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 0px 1px 3px #ffccbd, inset 0px -1px 3px #9c282e;
    color: #000;
    font-size: 26px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
}

.qtype_aitext_audiosummary {
    text-align: center;
    margin: auto;
    border: 2px solid darkgray;
    border-radius: 10px;
    width: 200px;
    background-color: #DDDDDD;
}
.qtype_aitext_currentwordcount,
.qtype_aitext_timer {
    text-align: center;
    margin: auto;
}

